@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

@layer base {
  html {
    overflow: hidden;
    font-size: 10px;
    scroll-behavior: smooth;
  }

  @media (min-width: 420px) {
    html {
      font-size: 13px;
    }
  }

  h1 {
    @apply text-3xl font-bold text-gray-900 capitalize md:text-5xl font-Poppins;
  }

  h2 {
    @apply text-2xl font-bold text-gray-800 capitalize md:text-4xl font-Poppins;
  }

  h3 {
    @apply text-xl font-bold text-gray-800 capitalize md:text-3xl font-Poppins;
  }

  h4 {
    @apply text-lg font-bold text-gray-800 capitalize font-Poppins;
  }

  h5 {
    @apply text-base font-bold text-gray-800 capitalize font-Poppins;
  }
  p {
    @apply text-gray-800;
  }
  body {
    @apply text-sm capitalize font-Poppins md:text-base;
    height: 100vh;
  }

  * {
    @apply font-Poppins;
  }
}
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  @apply bg-gray-200;
}
::-webkit-scrollbar-thumb {
  @apply rounded-sm bg-secondary-500;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-600;
}
.dark ::-webkit-scrollbar-track {
  @apply bg-gray-600;
}

.selected-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
}
.selected-image-big {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 650px;
}
.carousel-image {
  margin-right: 10px;
  height: 150px;
  min-width: 150px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.custom-grid {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.floating-button-left {
  top: 40%;
  left: 10px;
}
.floating-button-right {
  top: 40%;
  right: 10px;
}
